@model UsuarioModel

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Login</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
        </li>
        @if (Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Admin || Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Embarcadores)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Funcionario" asp-action="Index">Lista Funcionarios</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Transportadores" asp-action="Index">Lista Transportadores</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Lance" asp-action="ListaLance">Aprovar Lances</a>
            </li>
        }
        @if (Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Embarcadores" asp-action="Index">Lista Embarcadores</a>
            </li>
        }
        @if (Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Admin || Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Funcionario)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Oferta" asp-action="Index">Criar Oferta</a>
            </li>
        }
        @if (Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Admin || Model.Perfil == SistemaDeLeilao.Enums.PerfilEnum.Transportadora)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Lance" asp-action="ListaLance">Visualizar Oferta</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>
</div>